body {
    margin: 0;
    overflow: hidden;
    background-color: #1f1f1f;
  }
  
  .sun {
    width: 100px;
    height: 100px;
    background-color: yellow;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
  }
  
  .planet {
    width: 20px;
    height: 20px;
    background-color: #ccc;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
  }
  